.header {
  box-sizing: initial;
  background-color: $primary-color-light;
  min-height: 6rem;
  display: flex;
  flex-wrap: wrap;
  color: $primary-color-dark;
  font-size: 2rem;
  font-weight: bold;

  &__logo {
    padding: 1rem 2rem;
    width: 2rem;
    height: 2rem;
  }

  a {
    text-decoration: none;
    color: $primary-text-color-dark;
    display: flex;
    padding: 0 2rem 0 2rem;

    span {
      align-self: center;
    }
  }

  &__logo-box {
    display: flex;
    align-items: center;
    flex: 1 1;
  }

  &__menu {
    transform: skew(-12deg, 0deg);
    list-style: none;
    display: flex;
    align-items: stretch;
    padding-right: 2rem;


    @media (max-width: $medium-4) {
      transform: none;
      display: none;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    @media (min-width: $medium-4) {
      display: flex !important;
    }

    .menu__item a {
      &:link,
      &:visited {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
        display: flex;
        align-items: center;
        height: 100%;
      }
      &:hover {
        background-color: #5a97fa;
        color: $primary-text-color-light;
      }

      @media (max-width: $medium-4) {
        padding: 1rem 2rem 1rem 2rem;
      }
    }

    &-active {
      background-color: #5a97fa;
      color: $primary-text-color-light !important;
    }
  }

  .hamburger {
    display: none;
    @media (max-width: $medium-4) {
      display: block;
    }
  }
}

.showMenu {
  display: block;
}