.form {
  &__group {
    display: flex;
    flex-direction: column;
  }

  &__input {
    
  }

  &__label {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }

  &__select {
    font-size: 1.8rem;
  }
}