.popup {
  &__content {
    display: flex;

    @media (max-width: $medium-4) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 1 0 calc(60%);

    @media (max-width: $medium-4) {
      width: 80%;
    }
  }

  &__right {
    align-self: center;
    
    ul {
      padding: 1rem;
      list-style-type: disc !important;
      margin-left: 1rem;
      li {
        padding: 1rem;
      }
    }

    @media (max-width: $medium-4) {
      padding-top: 1rem;
    }
  }

  &__img {
    width: 100%;
    display: block;
  }
}

.image-gallery-content .bottom {
  @media (max-width: $medium-4) {
    width: 38rem;
  }
}