.sidebar {
  display: flex;
  background-color: $primary-color-dark;
  //flex: 0 0 calc(30rem);
  flex-direction: column;
  min-height: 100vh;
  color: $primary-text-color-light;
  padding: 2rem;
  background-image: url('/guitar-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  @media (max-width: $large-2) {
    width: 20rem;
  }

  &__item {
    padding: 2rem;
    text-align: center;
  }

  &__item:hover {
    background-color: red;
  }

  &__category {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  &__shapes {
    padding: 2rem;
    display: flex;

    @media (max-width: $large-2) {
      flex-wrap: wrap;
    }

    & input[type="radio"] {
      width: 0;
      height: 0;
      visibility: hidden;
    }

    & input[type="radio"] + label {
      display: inline-block;
      border: none;
    }

    & input[type="radio"]:checked + label>*{
      opacity: 1 !important;
      border: 1px solid $accent-color-2;
    }

    img {
      width: 5rem;
      opacity: 0.7;
      transition: 0.3s;
    }

    img:hover {
      opacity: 1;
      cursor: pointer;
    }

    a {
      display: inline-block;
    }
    
    .labelAll {
      width: 3.5rem;
      height: 4rem;
      margin-top: 0.5rem;
      text-align: center;
      text-transform: uppercase;
      border-radius: 0.5rem;

      @media (max-width: $large-2) {
        margin-left: 0.8rem;
        margin-right: 0.7rem;
      }

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      div {
        height: 100%;
        padding-top: 1rem;
      }
    }
  }
}