.tile-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tile {
  border: 1px solid $dark-grey;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 23.2%;
  cursor: pointer;
  transition: all .2s ease-in-out;
  box-shadow: 4px 4px $drop-shadow;
  // max-height: 44rem;
  background-color: $accent-color;
  overflow: hidden;

  @media (max-width: $large-1) {
    flex: 1 1 30%;
  }

  @media (max-width: $large-2) {
    flex: 1 1 33%;
  }

  @media (max-width: $medium-3) {
    flex: 1 1 50%;
  }

  &__loading {
    img {
      width: 80% !important;
    }
  }

  .like {
    position: absolute;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    z-index: 1;
  }

  img {
    width: 100%;
    transition: all 0.3s;
  }

  &:hover img {
    transform: scale(1.1);
  }


  .title {
    font-size: 2rem;
    padding: 1rem;
    background-color: $accent-color;
    z-index: 1;
  }

  .description {
    font-size: 1.5rem;
    color: $primary-color-dark;
    padding: 1rem;
    background-color: $accent-color;
    z-index: 1;
  }

  &:hover {
    filter: brightness(105%);
  }
}

.empty {
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: default;
}

.no-results {
  padding: 2rem;
  font-size: 2rem;
}