.colourContainer {
  display: flex;
  justify-content: center;
  @media (max-width: $large-2) {
    flex-wrap: wrap;
  }
}

.colour {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border: 2px solid $accent-color-2;
  
  @media (max-width: $large-2) {
    margin-bottom: 1rem;
  }

  label {
    display: block;
    width: 110%;
    height: 110%;

    cursor: pointer;

    img {
      position: relative;
      width: 80%;
      left: 0.16rem;
      top: 0.15rem;
    }
  }

  &:hover {
    border: 2px solid $primary-text-color-light;
  }
}