// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$large-1: 1152px;
$large-2: 960px;
$medium-1: 940px;
$medium-2: 720px;
$medium-3: 600px;
$medium-4: 520px;
$small-1: 480px;
$small-2: 440px;
$small-3: 418px;
$small-4: 400px;
$small-5: 325px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;


$primary-color-dark:          #3D3E43;
$primary-color-light:         #FFFFFF;
$primary-text-color-light:    #EEF0F4;
$primary-text-color-dark:     #212121;
$accent-color:                #F4F2F1;
$accent-color-2:              #5a97fa;
$divider-color:               #E0DFDB;
$drop-shadow:                 lightgrey;
$dark-grey:                   darkgrey;

//guitar colours
$black:         black;
$red:           red;
$white:         white;
$buttercream:   yellow;
$yellow:        yellow;
$blue:          blue;
$brown:         brown;
$natural:       tan;
$purple:        purple;